@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <h1>Welcome to the Student Login System</h1><hr />
        @Html.ActionLink("Login","Index","Students")
    </div>
</div>
